@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:ital,wght@1,900&display=swap');
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
    .inputComponents{
        h1{
            font-family: 'Lato', sans-serif;
            font-family: 'Roboto', sans-serif;
        }
    }
    form{
        margin-top: 3rem;
    .inputFeild{
        width:60rem;
        height: 3rem;
        border-radius: 0.3rem;
        }   
    button{
        height: 3rem;
        width: 4rem;
        background-color: #ff2c2c;
        border: none;
        border-radius: 3px;
        color: white;
    }
    }
}
